{% extends "catalogoMusicos/base.html" %}

{% block titulo %}Detalle de Banda{% endblock %}

{% block contenido %}
    <h1>Detalle de la Banda</h1>
    <h2>{{ banda.id }} - {{ banda.nombre }}</h2>
    <p class="fecha"><strong>Fecha de creacion:</strong> {{ banda.fecha_creacion }}</p>
    <p><strong>Generos:</strong> {{ banda.generos_tags.all|join:", "|default:"Sin generos" }}</p>

    <h3>Musicos</h3>
    {% for musico in banda.musicos.all %}
        <p>{{ musico.username }} - {{ musico.instrumento }}</p>
    {% empty %}
        <p>Sin musicos asociados.</p>
    {% endfor %}

    <h3>Eventos</h3>
    <ul>
        {% for evento in eventos %}
            <li><a href="{% url 'catalogoMusicos:detalle_evento' evento.id %}"> {{ evento.titulo }}</a> - {{ evento.fecha_evento }} - {{ evento.ubicacion }}</li>
        {% empty %}
            <span>Sin eventos asociados.</span>
        {% endfor %}
    </ul>

    <p><a href="{% url 'catalogoMusicos:listar_bandas' %}">Volver al listado de bandas</a></p>
{% endblock %}
