{% extends "catalogoMusicos/base.html" %}

{% block titulo %}Mi Catalogo de Musicos - Bandas{% endblock %}

{% block contenido %}
    <h1>Mis Bandas</h1>
    {% for banda in bandas %}
        <h2>
            {{ banda.id }} - {{ banda.nombre }}
        </h2>
        <p class="fecha">Creada: {{ banda.fecha_creacion }}</p>
        <p>Musicos registrados: {{ banda.musicos.count }}</p>
        <p>Eventos asociados: {{ banda.eventos.count }}</p>
    {% empty %}
        <p>No hay bandas disponibles.</p>
    {% endfor %}
{% endblock %}
