{% extends "catalogoMusicos/base.html" %}

{% block titulo %}Mi Catalogo de Musicos - Bandas{% endblock %}

{% block contenido %}
    <h1>Mis Bandas</h1>
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'catalogoMusicos:crear_banda' %}">Crear nueva banda</a></p>
    {% endif %}

    {% for banda in bandas %}
        <h2>
            <a href="{% url 'catalogoMusicos:detalle_banda' banda.id %}"> {{ banda.nombre }}</a>
        </h2>
        <p class="fecha">Creada: {{ banda.fecha_creacion }}</p>
        <p>Musicos registrados: {{ banda.musicos.count }}</p>
        <p>Eventos asociados: {{ banda.eventos.count }}</p>
    {% empty %}
        <p>No hay bandas disponibles.</p>
    {% endfor %}
{% endblock %}
