<!doctype html>

<html>
	<head>
		<title>{% block titulo %}Catalogo de Músicos{% endblock %}</title>
		<style>
			body {
				font-family: sans-serif;
				margin: 2rem;
			}
			h1,
			h2 {
				color: #2c3e50;
			}

			.fecha {
				color: #7f8c8d;
				font-size: 0.9em;
			}

			.paginacion {
				margin-top: 20px;
				font-weight: bold;
			}
		</style>
	</head>

	<nav>
		<a href="{% url 'catalogoMusicos:listar_anuncios' %}">Listado de anuncios</a>
		|
		<a href="{% url 'catalogoMusicos:listar_bandas' %}">Listado de bandas</a>
		|
		<a href="{% url 'catalogoMusicos:listar_eventos' %}">Listado de eventos</a>
		|
		<a href="{% url 'catalogoMusicos:listar_musicos' %}">Listado de musicos</a>
		|
		<a href="{% url 'catalogoMusicos:listar_reportes' %}">Listado de reportes</a>
	</nav>

	<body>
		<div id="content">{% block contenido %} {% endblock %}</div>
	</body>
</html>
