{% extends "catalogoMusicos/base.html" %}

{% block titulo %}Crear Anuncio{% endblock %}

{% block contenido %}
    <h1>Crear Nuevo Anuncio</h1>
    
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Crear Anuncio</button>
    </form>
    
    {% if form.errors %}
        <h3>Errores en el formulario:</h3>
        {{ form.errors }}
    {% endif %}
    
    <p><a href="{% url 'catalogoMusicos:listar_anuncios' %}">Volver al listado de anuncios</a></p>
{% endblock %}
